root = true

[*]
insert_final_newline = false
indent_style = space

[*.cs]
indent_size = 4

csharp_using_directive_placement = inside_namespace:error
dotnet_style_require_accessibility_modifiers = never:error

dotnet_naming_rule.private_fields.severity = warning
dotnet_naming_rule.private_fields.symbols = private_fields
dotnet_naming_rule.private_fields.style = private_prefix_style

dotnet_naming_symbols.private_fields.applicable_kinds = field
dotnet_naming_symbols.private_fields.required_modifiers = none

dotnet_naming_style.private_prefix_style.capitalization = camel_case